.songsMain {
  background: linear-gradient(to top, #171a1b, #121212);
}

/* colors */
.B3B3B3 {
  color: #b3b3b3;
}

.white {
  color: white;
}

.green {
  color: #1ed760;
}

.grey {
  color: #a0a0a0;
}

.pl1p2 {
  padding-left: 1.2em;
}

/* special divs */
.song {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 2fr 0.5fr;
}

.album-cover {
  height: 3em;
  border-radius: 3px;
}

.current-album-cover-container {
  display: flex;
  align-items: center;
}

.current-album-cover {
  border-radius: 3px;
  height: 4em;
}

.current-song-title {
  font-size: 0.85em;
}

.artist {
  margin-top: 0.2em;
  font-size: 0.7em;
}

.currentSongMain {
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  height: 6em;
  color: white;
}

#songProgress {
  height: 0.5em;
  border: none;
}
